code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}
button {
  height: 50px;
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}
select {
  height: 50px; /* Adjust this value to increase the height */
  font-size: 16px;
  padding: 10px;
}